@charset "utf-8";


#popup{
	width:1200px;
	height:142px;
	background-color:aquamarine;
	margin:0 auto;
	
	position:fixed;
	bottom:0px;
	margin-left: calc((100% - 1200px) / 2);
	overflow:hidden;
	cursor:pointer;
}
#popup>img{
	width:100%;
	
	position:relative;
	top:-33px;
}

.icon_close_white{
	background:url('../../images/home/popup/btn_dialog_close_w.png');
	background-repeat: no-repeat;
	display:block;
	width:55px;
	height:55px;
	position:absolute;
	right:10px;
	top:10px;
	transform:scale(0.6);
}


#dialog-background{
  position: fixed;
  top:0; left: 0; 
  bottom: 0; right: 0;
  background: rgba(0, 0, 0, 0.8);
  display:none;
  z-index:3;
}
#dialog{
	width:360px;
	height:200px;
	background-color:#ffffff;
	border-radius:20px;
	
	position:fixed;
	left:40%;
	top:40%;
	
	text-align:center;
	
	padding-top:40px;
	box-sizing:border-box;
	z-index:9;
}

#dialog>h1{
	font-size:15px;
	text-align:center;
	color:#000000;
	margin-bottom:50px;
}
#dialog>#btn-wrap{
	display:inline-block;
	background-color:aqua;
	margin:0 auto;
}
#dialog>#btn-wrap>button{
	color:#ffffff;
	font-weight:bold;
	width:140px;
	height:44px;
	text-align:center;
	padding-top:5px;
	box-sizing:border-box;
	border-radius:5px;
	border:none;
	cursor:pointer;
}
#dialog>#btn-wrap>#cancel{
	background-color:#767676;	
}
#dialog>#btn-wrap>#confirm{
	background-color:#5055B1;	
}

/*탑으로 이동*/
#goto-top{
	background:url('../../images/home/popup/btn_dialog_close_w.png');
	background-repeat: no-repeat;
	display:block;
	width:55px;
	height:55px;
}
/*사이드 광고바*/
