@charset "UTF-8";


#contents{
	width:100%;
	height:1000px;
	background-color:brown;
}

#contents>#contents-inner{
	width:1200px;
	height:1000px;
	background-color:olive;
	margin:0 auto;
}

/*콘텐츠 왼쪽*/
#contents-inner>#contents-left{
	float:left;
	width:20%;
	height:100%;
	background-color:orange;
}
#contents-left>h1>a{
	color:#000000;
	font-size:30px;
	font-weight:bold;
	padding-left:3px;
	box-sizing:border-box;
}
#contents-left>h2>a{
	color:#000000;
	font-size:15px;
	font-weight:bold;
	padding-left:5px;
	box-sizing:border-box;
}
#contents-left>h3{
	width:200px;
	height:40px;
	background-color:moccasin;
	margin-bottom:1px;
}
#contents-left>h3>a{
	color:#000000;
	font-size:15px;
	font-weight:bold;
	padding-left:5px;
	box-sizing:border-box;
}

#often-question>li>a{
	color:#000000;
	font-size:14px;
	background-color:teal;
	display:block;
	width:200px;
	height:40px;
	padding:5px 5px;
	box-sizing:border-box;
}

#one-to-one-question>li>a{
	color:#000000;
	font-size:14px;
	background-color:tomato;
	display:block;
	width:200px;
	height:40px;
	padding:5px 5px;
	box-sizing:border-box;
}
#main{
	display:block;
	width:200px;
	height:40px;
	background-color:tan;
}
#often{
	display:block;
	width:200px;
	height:40px;
	background-color:tan;
}
#one-to-one{
	display:block;
	width:200px;
	height:40px;
	background-color:tan;
}
#notice{
	display:block;
	width:200px;
	height:40px;
	background-color:tan;
}
#tax{
	display:block;
	width:200px;
	height:40px;
	background-color:tan;
}
#law{
	display:block;
	width:200px;
	height:40px;
	background-color:tan;
}

/*콘텐츠 오른쪽*/
#contents-inner>#contents-right{
	float:left;
	width:80%;
	height:100%;
	background-color:orchid;
}
/*사용자 게시판 제목 부분*/
#contents-right>#user-head{
	width:100%;
	height:20%;
	background-color:palered;
}
#user-head>#user-head-top{
	width:100%;
	height:40%;
	background-color:mediumblue;
}
#user-head-top>h1{
	width:250px;
	height:40px;
	background-color:mediumpurple;
	display:inline-block;
	text-align:center;
}
#user-head-top>#btn-group{
	background-color:mediumturquoise;
	float:right;
}
#btn-group>button{
	background-color:#ffffff;
	border-radius:10px;
	padding:3px;
	display:inline-block;
}

#user-head>#user-head-bottom{
	width:100%;
	height:60%;
	background-color:mediumgreen;
}
#user-head-bottom>#input-area{
	width:900px;
	height:80px;
	background-color: #777;
	
}
#input-area>input{
	width:400px;
	height:45px;
	border-radius:5px;
	padding-left:5px;
	box-sizing:border-box;
}
#input-area>button{
	width:90px;
	height:45px;
	background-color: #5055B1;
	color:#ffffff;
	font-weight:bold;
	border-radius:5px;
	border:none;
	text-align:center;
}

/*사용자 게시판 메인*/
#contents-right>#user-main{
	width:100%;
	height:80%;
	background-color:palegreen;
}
#user-main>#user-head{
	width:100%;
	height:5%;
	background-color:mistyrose;
}
#user-main>#user-board{
	width:100%;
	height:95%;
	background-color:lightblue;
}

#user-board>#user-title{
	width:100%;
	height:10%;
	background-color:lightgray;
}
#user-title>#user-title-top{
	width:100%;
	height:50%;
	background-color:lightsteelblue;
	font-size:30px;
	font-weight:bold;
	padding-left:20px;
	box-sizing:border-box;
}
#user-title>#user-title-top>input{
	display:inline-block;
}
#user-title>#user-title-top>#title{
	width:400px;
	height:30px;
	border-radius:5px;
	padding-left:20px;
	box-sizing:border-box;
	
	position:relative;
	top:-3px;
}
#user-title>#user-title-bottom{
	width:100%;
	height:50%;
	background-color:lime;
	padding:5px 20px;
	box-sizing:border-box;
	color:#777;
}


#user-board>#user-contents{
	width:100%;
	height:90%;
	background-color:lightsalmon;
	padding:20px 20px;
	box-sizing:border-box;
}

#user-contents>textarea{
	width:90%;
	height:300px;
	background-color:lightcyan;
}

#user-contents>#file-related{
	width:100%;
	height:50px;
	background-color:lime;
}

#user-contents>#btn-area{
	width:100%;
	height:50px;
	background-color:lightgoldenrodyellow;
	text-align:center;
}

#btn-area>#btn-area-inner{
	display:inline-block;
	background-color:lightpink;
}

#btn-area>#btn-area-inner>input{
	width:100px;
	height:40px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
}